{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{%block body%}

<main role="main" class="container ">
      <div class="jumbotron  ">
        <h1>"   "</h1>
        <p class=" text-bg-primary my-5">

            <h5>LockDown Diaries is all about what and how we do things at our home, let it be our repair works, our DIY things,
                     our custom builds, our Food Recipe, Tech suggestions, what to buy and from where to buy and what not.
                     I am Sunjay an Electronics and Communication graduate engineer while my wife Shikha is a Computer Science engineer.
                     lets make beautiful things together
          </h5>
        </p>
      <!---  <a class="btn btn-lg btn-primary my-5" href="../../components/navbar/" role="button">View navbar docs »</a>  -->
      </div>
    </main>
<p>

</p>
<div class="row ">
           <!-- col -->
          <div class="col-lg-2 col-md-4 col-6">
            <div class="text-center mb-10 position-absolute top-50 start-50 translate-middle">

 <!-- img -->
              <a href="https://www.facebook.com/Lockdowndiariesdiy"  ><img src="/static/img/FB.png" alt="" class="card-image rounded-circle  width: 100px; height: 200px"  target="_blank" ></a>
 <!-- text -->

              <div class="mt-4">
                <h5 class="fs-6 mb-0"> <a href="https://www.facebook.com/Lockdowndiariesdiy"  class="text-inherit" target="_blank" >Facebook</a></h5>
              </div>

            </div>


          </div>
           <!-- col -->
          <div class="col-lg-2 col-md-4 col-6">
            <div class="position-absolute top-50 start-60 translate-middle-y">
 <!-- img -->
              <a href="https://www.instagram.com/lockdowndiariesdiy/"><img src="/static/img/IN.png" alt=""  class="card-image rounded-circle width: 100px; height: 200px " target="_blank"></a>
              <div class="mt-4">
                 <!-- text -->
                <h5 class="fs-6 mb-0"> <a href="https://www.instagram.com/lockdowndiariesdiy/"  class="text-inherit" target="_blank">Instagram</a></h5>
              </div>

            </div>


          </div>
           <!-- col -->
          <div class="col-lg-2 col-md-4 col-6">

            <div class="position-absolute top-50 end-90 translate-middle-y">
               <!-- img -->
              <a href="https://www.youtube.com/@LockDownDiariesDIY/about"><img src="/static/img/YT.png" alt="width: 50px; height: 50px;" class="card-image rounded-circle width: 50px; height: 50px; "></a>
                   <!-- text -->
              <div class="mt-4">
                <h5 class="fs-6 mb-0"> <a href="https://www.youtube.com/@LockDownDiariesDIY/about" class="text-inherit" target="_blank"  >YouTube Subscribe</a></h5>
              </div>

            </div>


          </div>


<!----
<div class="container bg-info.bg-gradient  ">

<div class="row align-items-center bg-info-subtle">
<div class="col-12 col-md-6">
<div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
<img src="/static/img/LD.png" alt="">
</div>
</div>
<div class="col-12 col-md-6 col-lg-5 ml-md-auto">
<div class="section-heading text-white">
<h2>About Us</h2>
</div>
<div class="about-us-content my-3 text-danger">
<span></span>
<p>  <h2>LockDown Diaries is all about what and how we do things at our home, let it be our repair works, our DIY things,
                     our custom builds, our Food Recipe, Tech suggestions, what to buy and from where to buy and what not.
                     I am Sunjay an Electronics and Communication graduate engineer while my wife Shikha is a Computer Science engineer.
                     lets make beautiful things together.</h2> </p>
</div>
</div>
</div>

<div class="about-us-second-part ">
<div class="row align-items-center pt-200 ">
<div class="col-12 col-md-6 col-lg-5 ">
<div class="about-us-content text-primary">
<span>
Sunjay And Shikha</span>

    <p>#LockDownDiaries</p>

 </p>
</div>
</div>
<div class="col-12 col-md-6 ml-md-auto">
<div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
<img src="img/bg-img/about-2.jpg" alt="">
</div>
</div>
</div>
</div>
</div>
<div class=" lead text-xl-center my-5 text-primary">
    <h1 >You can visit us on below links !!! </h1>
</div>
 </a>
 <div class="text-xl-center my-5">
 <p><a href="https://www.facebook.com/Lockdowndiariesdiy" class="pe-auto" target="_blank" ><h1>Facebook</h1></a> </p>
 <p><a href="https://www.instagram.com/lockdowndiariesdiy/"  class="pe-auto" target="_blank"><h1>Instagram</h1></a> </p>
 </div>
</div>
            <div class="text-xl-center  my-5">
                  <p><a class="text-xl-center bg-danger"  aria-current="page" href="https://www.youtube.com/@LockDownDiariesDIY/about" target="_blank"  >
                      <h1>Please click to Subscribe our Channel</h1></a></p>
            </div>
            -->
    </p>

</div>


<div class="about-us-content position-absolute bottom-0 start-50 translate-middle-x text-danger">
    <span>Sunjay And Shikha</span>
        <p>#LockDownDiaries</p>
</div>
{% endblock body%}
